@use 'variables';

.action {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

%common-btn {
    width: 144px;

    height: 44px;

    border-radius: 5px;

    font-size: 16px;
    font-weight: 400;

    font-family: variables.$font-in;

    cursor: pointer;
}



.action {

    .cancel-btn {
        @extend %common-btn;

        color: white;
        background-color: variables.$bg-dark;
        border: 1px solid variables.$bg-main;

        margin: 64px 52px 38px;
    }

    .submit-btn {
        @extend %common-btn;

        color: white;
        background-color: variables.$bg-main;
        border: none;

        margin: 64px 52px 38px;
    }

}


.start-btn {
    @extend %common-btn;

    color: white;
    margin: 10px;
    background-color: variables.$bg-main;
    border: none;
}



@media(max-width :576px) {

    .action {
        flex-direction: column-reverse;
        gap: 2px;

        .cancel-btn {
            margin: 12px 52px 5px;

        }

        .submit-btn {
            margin: 20px 52px 5px;

        }

    }

}