$bg-main: #7A58F4;
$bg-dark: #1A1832;
$bg-purple: #D0CBF3;
$tx-white: #fff;
$tx-num: #B1B9D8;
$bg-num: #1A2036;
$cl-shadow: #D0CBF3;
$bor-num: #2E3650;
$font-in: "inter", serif;
$font-me: "Merriweather", serif;